a {
  text-decoration: none!important;
  color: #212121;
  cursor:pointer;
}

footer {
  margin: 30px 0px;
  font-size: 10px;
  text-align: right;
}

.App-header {
 margin: 30px 0px;
 display: block;
 text-align: left;
 font-family: 'Neucha', cursive;
 font-size: 40px;
}

.container {
  max-width: 600px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}