h4 {
    font-weight: bold;
    font-size: 22;


}

.definition {
    font-size: 15px;
}

.example {
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
}

.Meaning {
    margin: 20px 0px;
}